ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 0px;
	overflow: hidden;
	background-color: #333;
}
 
li{float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
 h1{
	font-size: 72px;
	color: #2da7c1;
	font-family: 'Oregano', cursive;
}
h2{
	color: #2da7c1;
	font-family: 'Nanum+Brush+Script', cursive;
}
p{
	color: #2da7c1;}
h3{
	color: #2da7c1;
	font-family: 'Nanum+Brush+Script', cursive;
}
body{
	background-image: url("sky.jpg");
	background-attachment: fixed;
	color: black;
	display: grid;


}

#main {
	padding-left: 50px;

}

#intro {
}
